ebin
.idea
.project
.settings/org.erlide.core.prefs
.eunit
ereg.iml
erl_crash.dump
log/console.log
log/crash.log
log/error.log
priv/jiffy.so

rel/mongodberl
deps
erlcinfo
rel/files/app.config
tags
logs
*.beam
log

