{erl_opts, [{platform_define, "R1[6-9]B", 'binary_integer_bifs'}]}.

%% for large:xxx
%% detailed info: http://www.erlang.org/doc/man/compile.html
{erl_opts, [debug_info, {parse_transform, lager_transform}]}.

{sub_dirs, ["rel"]}.
%%{lib_dirs,["lib", "plugins"]}.
{deps_dir, ["deps"]}.
{deps, [
    {lager, ".*", {git, "git://github.com/basho/lager.git", "master"}},
    {elog, ".*", {git, "git://github.com/yunba/elog.git", {branch, "master"}}},
    {poolboy, ".*", {git, "https://github.com/devinus/poolboy.git", {branch, "master"}}},
    {erlmongo, ".*", {git, "https://github.com/yunba/erlmongo.git", {branch, "master"}}}
]}.
{erl_opts, [{i, "include"},
    {src_dirs, ["src", "test"]}]}.
{eunit_opts, [
    {skip_deps, true},
    {report, {eunit_surefire, [{dir, "."}]}}
]}.
{cover_enabled, true}.

{ct_log_dir, "test/logs"}.
{clean_files, ["test/logs", "test/*.beam"]}.



